@{
    ViewData["Title"] = "Privacy Policy";
}
@addTagHelper Guard.Emegenler.TagOperations.TagHelpers.*, Guard.Emegenler
<h1>@ViewData["Title"]</h1>

<p class="accessthis" emegenler-guard>Use this page to detail your site's privacy policy.</p>



<div class="accessthis text-center" emegenler-guard>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div emegenler-guard>
    This is guarded by default behaviour which belong to component
</div>
<div class="form">
    <form emegenler-guard action="/home/home/me">

        <div>
            <input type="text" placeholder="aa" />
        </div>
        <div>
            <div>
                <select id="hideSelect" emegenler-guard>
                    <option value="1" selected>111111111</option>
                    <option value="2">222222222</option>
                    <option value="3">333333333</option>
                </select>
            </div>
            <textarea>sadsadsadasdasd</textarea>
        </div>
        <div>
            <input type="checkbox" name="valid_ninja"> Are You a Ninja?
        </div>
        <div>
            <input type="radio" name="weapon" value="sword"> Sword<br>
        </div>
        <div>
            <button id="specialButton" emegenler-guard type="submit">Action</button>
        </div>

    </form>
    <form id="restrictedform" emegenler-guard action="/home/home/me">

        <div>
            <input type="text" placeholder="aa" />
        </div>
        <div>
            <div>
                <select>
                    <option value="1" selected>111111111</option>
                    <option value="2">222222222</option>
                    <option value="3">333333333</option>
                </select>
            </div>
            <textarea>sadsadsadasdasd</textarea>
        </div>
        <div>
            <input type="checkbox" name="valid_ninja"> Are You a Ninja?
        </div>
        <div>
            <input type="radio" name="weapon" value="sword"> Sword<br>
        </div>
        <div>
            <button type="submit">Action</button>
        </div>

    </form>
    <a id="goHomeGoogle" href="https://www.google.com" emegenler-guard>This link restricted but you can see, tyr to click for go to google</a>
    <br />
    <a id="banLink" href="https://www.google.com" emegenler-guard>This user cannot see link</a>
</div>
