@{
    ViewData["Title"] = "Privacy Policy";
}
@addTagHelper Guard.Emegenler.TagOperations.TagHelpers.*, Guard.Emegenler
<h1>@ViewData["Title"]</h1>

<p class="accessthis" emegenler-guard>Use this page to detail your site's privacy policy.</p>



<div class="accessthis text-center" emegenler-guard>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
