@section Header {

    <partial name="~/Views/Shared/_Navbar.cshtml" />

}
@{
    ViewData["Title"] = "AccessDenied";
}
<div class="text-center">
    <div class="row">
        <div class="col-12">
            <img src="~/img/emegenler-crop-logo.png" width="120" />
            <br />
            <br />
            <h1>Access Denied</h1>
        </div>
    </div>
</div>
