@section Header {

    <partial name="~/Views/Shared/_Navbar.cshtml" />

}
@{
    ViewData["Title"] = "Home Page";
}
@addTagHelper Guard.Emegenler.TagOperations.TagHelpers.*, Guard.Emegenler
<div class="text-center">
    <div class="row salessection" emegenler-guard>
        <div class="col-12">
            <h1>Sales Report <span class="badge badge-info">New</span></h1>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <canvas id="population" width="100" height="100"></canvas>
                </div>

            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <canvas id="sales" width="100" height="100"></canvas>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <canvas id="customerByYear" width="100" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row itsection" emegenler-guard>
        <div class="col-12">
            <h1>IT Report <span class="badge badge-secondary">New</span></h1>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <canvas id="usageComputer" width="100" height="100"></canvas>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <canvas id="dataUsage" width="100" height="100"></canvas>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <canvas id="internetUsage" width="100" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row hrsection" emegenler-guard>
        <div class="col-12">
            <h1>Human Resource Report <span class="badge badge-secondary">New</span></h1>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <canvas id="peopleCompany" width="100" height="100"></canvas>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <canvas id="predictedRecruitment" width="100" height="100"></canvas>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <canvas id="performanceComparision" width="100" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts
{

    <script>
        var population = document.getElementById('population');
        var sales = document.getElementById('sales');
        var customerByYear = document.getElementById("customerByYear");
        var usageComputer = document.getElementById("usageComputer");
        var dataUsage = document.getElementById("dataUsage");
        var internetUsage = document.getElementById("internetUsage");
        var peopleCompany = document.getElementById("peopleCompany");
        var predictedRecruitment = document.getElementById("predictedRecruitment");
        var performanceComparision = document.getElementById("performanceComparision");
        var populationPieChart = new Chart(population, {
            type: 'pie',
            data: {
                labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
                datasets: [{
                    label: "Population (millions)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: [2478, 5267, 734, 784, 433]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Predicted world population (millions) in 2050'
                }
            }
        });
        var salesBarHorizontal = new Chart(sales, {
            type: 'horizontalBar',
            data: {
                labels: ["Acme Product 1000", "Acme  Super Product 1100", "Acme Half Product 800", "Acme Product 2000", "Acme Product 2500"],
                datasets: [
                    {
                        label: "Sales (millions)",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                        data: [2478, 5267, 734, 784, 433]
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Acme Product Sales'
                }
            }
        });
        var salesLineHorizontal = new Chart(customerByYear, {
            type: 'line',
            data: {
                labels: [1500, 1600, 1700, 1750, 1800, 1850, 1900, 1950, 1999, 2050],
                datasets: [{
                    data: [86, 114, 106, 106, 107, 111, 133, 221, 783, 2478],
                    label: "Africa",
                    borderColor: "#3e95cd",
                    fill: false
                }, {
                    data: [282, 350, 411, 502, 635, 809, 947, 1402, 3700, 5267],
                    label: "Asia",
                    borderColor: "#8e5ea2",
                    fill: false
                }, {
                    data: [168, 170, 178, 190, 203, 276, 408, 547, 675, 734],
                    label: "Europe",
                    borderColor: "#3cba9f",
                    fill: false
                }, {
                    data: [40, 20, 10, 16, 24, 38, 74, 167, 508, 784],
                    label: "Latin America",
                    borderColor: "#e8c3b9",
                    fill: false
                }, {
                    data: [6, 3, 2, 2, 7, 26, 82, 172, 312, 433],
                    label: "North America",
                    borderColor: "#c45850",
                    fill: false
                }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Sales in Customer Region'
                }
            }
        });
        var radarItUsage = new Chart(usageComputer, {
            type: 'radar',
            data: {
                labels: ["Sales", "IT", "Admin", "Human Resource"],
                datasets: [
                    {
                        label: "2019",
                        fill: true,
                        backgroundColor: "rgba(179,181,198,0.2)",
                        borderColor: "rgba(179,181,198,1)",
                        pointBorderColor: "#fff",
                        pointBackgroundColor: "rgba(179,181,198,1)",
                        data: [55.61, 21.69, 6.62, 6.82]
                    }, {
                        label: "2020",
                        fill: true,
                        backgroundColor: "rgba(255,99,132,0.2)",
                        borderColor: "rgba(255,99,132,1)",
                        pointBorderColor: "#fff",
                        pointBackgroundColor: "rgba(255,99,132,1)",
                        pointBorderColor: "#fff",
                        data: [54.16, 7.61, 8.06, 4.45]
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Distribution of Computer Users'
                }
            }
        });
        var dataUsagePolar = new Chart(dataUsage, {
            type: 'polarArea',
            data: {
                labels: ["Sales", "IT", "Admin", "Human Resource"],
                datasets: [
                    {
                        label: "Population (millions)",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9"],
                        data: [2478, 5267, 734, 784]
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Data usage based on departments'
                }
            }
        });
        var interUsageDonat = new Chart(internetUsage, {
            type: 'doughnut',
            data: {
                labels: ["IT", "Admin", "Sales", "Human Resource",],
                datasets: [
                    {
                        label: "Population (millions)",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9"],
                        data: [1243, 6986, 456, 794]
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Predicted world population (millions) in 2050'
                }
            }
        });
        var peopleCompanyBar = new Chart(peopleCompany, {
            type: 'bar',
            data: {
                labels: ["Sales", "IT", "Human Resource"],
                datasets: [
                    {
                        label: "Population (millions)",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f"],
                        data: [250, 165, 42]
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'People In Company'
                }
            }
        });
        var predictedRecruitmentPie = new Chart(predictedRecruitment, {
            type: 'pie',
            data: {
                labels: ["Sales", "IT", "HumanResource"],
                datasets: [{
                    label: "Population (millions)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: [2478, 5267, 734, 784, 433]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Predicted world population (millions) in 2050'
                }
            }
        });
        var performanceComparisionBar = new Chart(performanceComparision, {
            type: 'bar',
            data: {
                labels: ["2000", "2005", "2010", "2019"],
                datasets: [
                    {
                        label: "IT",
                        backgroundColor: "#3e95cd",
                        data: [133, 221, 783, 2478]
                    }, {
                        label: "Sales",
                        backgroundColor: "#8e5ea2",
                        data: [408, 547, 675, 734]
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Performance Comparision based on departments'
                }
            }
        });
    </script>


}
