@section Header {

    <partial name="~/Views/Shared/_Navbar.cshtml" />

}
@{
    ViewData["Title"] = "General Idea";
}
<h1>@ViewData["Title"]</h1>

<p>Our general purpose for this app to show Emegenler package usage.</p>
<p>Emegenler is <b>RBAC(Role Base Access Control)</b> for Views on Asp.Net Core</p>
<p>You can easily define rules for pages, div tags, form tags etc.</p>
<p>Let's come to this app idea</p>
<p>This is company web page. Our users access this page using their email and passwords. Users have different departments in every departments users access some pages and cannot access others</p>
<p>
    <table class="table table-bordered">
        <tr>
            <td>Email</td>
            <td>Password</td>
            <td>Group</td>
            <td>Permission Add</td>
            <td>Permission Edit</td>
            <td>Permission Delete</td>
            <td>Hr Reports</td>
            <td>It Reports</td>
            <td>Sales Reports</td>
            <td>Hr Forms</td>
            <td>Hr Lists Btn</td>
            <td>It Forms</td>
            <td>It Lists Btn</td>
            <td>Sales Forms</td>
            <td>Sales Lists Btn</td>
        </tr>
        <tr>
            <td>anderson@followwhiterabbit.com</td>
            <td>1234</td>
            <td>Admin</td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
        </tr>
        <tr>
            <td>jack@pritesparrow.com</td>
            <td>1234</td>
            <td>Sales</td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-lock text-warning"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-lock text-warning"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
        </tr>
        <tr>
            <td>hacker@warning.com</td>
            <td>1234</td>
            <td>IT</td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-lock text-warning"></i></td>
            <td><i class="fas fa-lock text-warning"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-lock text-warning"></i></td>
            <td><i class="fas fa-lock text-warning"></i></td>
        </tr>
        <tr>
            <td>walter@chemistrymaster.com</td>
            <td>1234</td>
            <td>HR</td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-lock text-warning"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-lock text-warning"></i></td>
        </tr>
    </table>
    
</p>
