@section Header {

    <partial name="~/Views/Shared/_Navbar.cshtml" />

}
@{
    ViewData["Title"] = "Hr";
}

<br />
<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <a class="btn btn-outline-info" href="/form/hrlist"><i class="fas fa-people-carry"></i> Hr Forms List</a>
        <br />
        <br />
        <div class="card">
            <div class="card-body">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-6">
                        <img src="~/img/emegenler-crop-logo.png" width="200" />
                    </div>
                    <div class="col-6" style="text-align:right;">
                        <br />
                        <h1>HR Form</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Name Surname:</label>
                        <input name="NameSurname" class="form-control" />
                    </div>
                    <div class="col-md-8">
                        <label>Interview Content:</label>
                        <select class="form-control product">
                            <option selected value="JobApplication">Job Application</option>
                            <option value="SalaryRaise">Salary Raise</option>
                            <option value="Dismissial">Dissmisial</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Phone Number:</label>
                        <input name="PhoneNumber" class="form-control" />
                    </div>
                    <div class="col-6">
                        <label>How interview pass?:</label>
                        <select class="form-control">
                            <option value="Bad">Bad</option>
                            <option value="Medium">Medium</option>
                            <option value="Good">Good</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <label>Short Summary of Interview:</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="col-7">
                        <label>Interview Details:</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <br />
                        <br />
                        <button class="btn btn-block btn-success">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>




